<div class="overlap"></div>
<div class="container">
    <div class="row justify-content-center pb-5 pt-5">

        <div class="col-md-5 block ">
            <h1 class="text-center">Register</h1>
            <form name="login" [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5">
                <div class="row">

                    <div class="form-group col-md-12">
                        <label>Name</label>
                        <input type="text" formControlName="name" placeholder="Name"
                            class="form-control form-control-sm">
                            <span *ngIf="submitted && form.controls.name.errors"> 
                        <span *ngIf="form.controls.name.errors.required">Name Required</span>
                        </span>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Gender</label>
                        <select type="text" formControlName="gender" placeholder="Gender"
                            class="form-control form-control-sm">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                            <span *ngIf="submitted && form.controls.gender.errors"> 
                            <span *ngIf="form.controls.gender.errors.required">Gender Required</span>
                        </span>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Email</label>
                        <input type="email" formControlName="email" autocomplete="off" placeholder="Email"
                            class="form-control form-control-sm">
                            <span *ngIf="submitted && form.controls.email.errors"> 
                        <span *ngIf="form.controls.email.errors.required"> Email Required</span>
                        <span *ngIf="form.controls.email.errors.pattern">Invalid Email</span>
                    </span>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Password</label>
                        <input type="password" formControlName="password" autocomplete="new-password" placeholder="Password"
                            class="form-control form-control-sm">
                            <span *ngIf="submitted && form.controls.password.errors"> 
                        <span *ngIf="form.controls.password.errors.required"> Password Required</span>
                        </span>
                    </div>
                    
                    <div class="form-group col-md-12">
                        <label>Phone Number</label>
                        <input type="number" formControlName="phone" placeholder="Phone Number"
                            class="form-control form-control-sm">
                            <span *ngIf="submitted && form.controls.phone.errors"> 
                        <span *ngIf="form.controls.phone.errors.required">Phone Required</span>
                        </span>
                    </div>
                </div>
                <div class="row mx-1">
                    <span class="text-info">{{successMsg && successMsg}}</span>
                    <span class="text-danger">{{errMsg && errMsg}}</span>
                </div>
                <button class="btn btn-block mt-3 btn-search btn-sm algin-2">Register</button>
                <div class="mt-3 text-center">
                 Do you want already login ?   <a [routerLink]="['']">login</a>
                </div>
            </form>
        </div>
    </div>
</div>