<div class="container">
  <div class="row bg-white p-3">
      <div class="col-sm-12">
         <mat-tab-group color="primary" dynamicHeight mat-align-tabs="center" (selectedIndexChange)="changeTab($event)" [selectedIndex]="selectedTab">
            <mat-tab label="Profile">
               <div class="row m-auto p-3">
                  <div class="col-md-6">
                     <form (ngSubmit)="userForm(userF)" #userF="ngForm">
                        <div class="form-group">
                           <label>Username</label>
                           <input type="text" required name="user_name" ngModel class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                           <label>Gender</label>
                           <select type="text" required name="user_gender" ngModel class="form-control form-control-sm">
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label>Phone</label>
                           <input type="text" required name="user_mobile" value={{userData.phone}} ngModel class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                           <label>Email</label>
                           <input type="email" readonly value={{userData.email}} class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                           <label>Password </label>
                           <input type="password" required name="user_pwd" autocomplete="new-password" ngModel  class="form-control form-control-sm">
                        </div>
                        <div class="mx-1 my-2">
                           <span class="text-info">{{successMsg && successMsg}}</span>
                           <span class="text-danger">{{errMsg && errMsg}}</span>
                        </div>
                        <button [disabled]="!userF.valid" class="btn btn-sm btn-outline-primary">Update</button>
                     </form>
                  </div>
               </div>
            </mat-tab>
            <mat-tab label="My Activity">
               <div class="row m-auto">
                  <div class="col-md-8 p-3">
                     <h6 class="text-centet text-danger">{{actMsg && actMsg}}</h6>
                     <div class="row">
                        <div *ngFor="let item of activities" class="col-sm-12">
                           <div class="mb-2 card">
                              <ng-template [ngIf]="item.status === 1" [ngIfElse]="cancelledCard">
                                 <div class="card-body">
                                    <div class="card-title clearfix">
                                          <div class="float-left text-uppercase">{{item.trainDetails[0] && item.trainDetails[0].trainName}}</div>
                                          <div class="float-right">
                                             <button class="btn btn-danger btn-outline btn-sm" (click)="cancelTicket(item._id)">Cancel Ticket</button>
                                          </div>
                                       </div>
                                       <div class="card-subtitle font-weight-normal text-uppercase">
                                          {{item.endPointsDetails.startPoint}} - {{item.endPointsDetails.destPoint}}
                                       </div>
                                       <div class="card-text">
                                          <small class="d-block">Boarding Date: <b>{{item.bookingDate | date:'longDate'}} {{item.endPointsDetails.departureTime}}</b></small>
                                          <small class="d-block">Arrival Time: <b>{{item.endPointsDetails.arrivalTime}}</b></small>
                                          <span class="float-left large">Seat No: <b class="fs-20">{{item.seatNo}}</b></span>
                                       </div>
                                 </div>
                              </ng-template>
                              <ng-template #cancelledCard>
                                 <div class="card-body bg-light">
                                    <div class="card-title clearfix">
                                          <div class="float-left text-uppercase">{{item.trainDetails[0] && item.trainDetails[0].trainName}}</div>
                                          <div class="float-right">
                                             <span class="text-danger">Cancelled</span>
                                          </div>
                                       </div>
                                       <div class="card-text">
                                          <span class="text-capitalize">{{item.endPointsDetails.startPoint}} - {{item.endPointsDetails.destPoint}}</span>
                                          <small class="d-block">Boarding Date: {{item.bookingDate | date:'longDate'}} {{item.endPointsDetails.departureTime}}</small>
                                       </div>
                                 </div>
                              </ng-template>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </mat-tab>
         </mat-tab-group>
      </div>
   </div>
</div>